<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOSPZDI7g2vCgf-gYTPKBaZR__yYZfLCE</string>
	<key>GCM_SENDER_ID</key>
	<string>957164019790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayesh</string>
	<key>PROJECT_ID</key>
	<string>sharexpense-faa8c</string>
	<key>STORAGE_BUCKET</key>
	<string>sharexpense-faa8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957164019790:ios:cca96f3fe545bcb75ee31f</string>
</dict>
</plist>